* {
  text-decoration: none;
  color: white;
}

.shipContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  width: 90%;
  margin: 0 auto;
}

.ships {
  background-color: rgb(2, 93, 66);
  padding: 20px;
  margin: 10px;
}

.ships:hover {
  background-color: rgb(0, 121, 84);
}